---
title: "大四上美國交換銳評"
date: 2025-12-25
tags:
  - college
language: "中文"
---

<script>
	import ImageWrap from "../../components/svx/ImageWrap.svelte";
</script>


這學期很幸運的能夠申請到交換，雖然很可惜沒能被分到最想去的 Irvine 和 SF，一開始知道去 Merced 有點像被分發邊疆的感覺，但後來覺得其實沒想像中差。

## Merced
Merced 最大的缺點是交通很不方便，因為不是大城市，公車路線和班次都很少。我自己感覺定位很像台灣東部，離加州其他大城市都很遠，沒有車的話只能搭 Amtrak。

市內像是 Costco、Target、Walmart 等都有，也有 In-n-Out，基本上生活不會有太大問題，不過沒什麼娛樂。像我這種室內派的人就沒什麼差，中間撥一些時間搭火車去其他城市觀光一下就好。另外 Merced 也離 Yosemite 很近 (雖然我問很多當地學生其實都沒去過)，憑學生身份有免費巴士能搭，大概三個小時就能到。風景很漂亮非常推薦去一次。

<div class="flex flex-col lg:flex-row items-center">
	<ImageWrap src="/blog-attachments/IMG_7277.jpg" alt="Yosemite" caption="Yosimite" />
	<ImageWrap src="/blog-attachments/IMG_7090.jpg" alt="Merced Downtown" caption="Merced Downtown (基本上晚上七八點店就都關了)" />
</div>

學校附近到整個 Merced 上半部都還算安全，沒聽過發生什麼事，但聽說下半部比較危險不建議去。大部分超市和餐廳都在上半部，所以應該也沒什麼機會到下半部。

交通部分有市營運的 Merced The Bus，而學校也有自己的校車叫做 CatTracks，要去學校的話主要就是搭校車或是 The Bus 的 UC route。公車大致還算準時，如果早到的話會等表定時間才開車。這裡很多公車站沒站牌也沒劃線，所以就算地圖上顯示這裡是公車站但沒有站牌也不要太疑惑，如果有一個 "no parking here" 的紅色告示牌，那基本上就是公車站無誤。公車看到有人就會停，不需要特別揮手。

## UC Merced
其他分校沒去過不好說，但我覺得 Merced 是一個相對小而且新的校園，畢竟 2000 年才新建，建築和設施都很新很好看(有點包浩斯的感覺)。師生比感覺不高，我修的其中兩門課程學生都不超過 20 人，也就是說你有更多機會和教授打交道，尤其如果你想要推薦信的話是個很不錯的機會。

課程的部分，雖然不像其他分校有什麼神課，但整體教學品質還是很不錯的，畢竟也是 UC 之一。難度根據我和其他同學討論的結論是比亞洲的大學簡單許多，舉例來說我有修了一門 EECS 242 Deep Learning，雖然是開給研究所的學生，但是內容最難的大概也就 attention 怎麼算，整體而言難度不如資工大三必修的人工智慧導論。

我遇到的每個人都很好，即便是中國學生也不會對我的台灣身份說什麼（反而我遇到的大部分中國學生都說他們想去台灣觀光但不能去）。如果課堂上不好找到朋友，國際處也會定期辦活動，再加上人真的不多，所以其實要認識當地學生或是其他交換學生不難。不過整體而言我在這趟混得比較熟的大部分還是亞洲面孔（有中國人、台灣人、越南人或是當地華裔等，大部分是高中或大一就來美國的），可能是因為文化隔閡還是比較難混入非亞裔的圈子。

還有一個我最喜歡的點是健身房或室內籃球場都是免費的，籃球也可以免費借，所以沒事的時候就去打球蠻爽的。由於校區離市區有一段距離，上完課也沒地方可去，因此去健身房和圖書館的次數反而比在台大多上不少。

<ImageWrap src="/blog-attachments/IMG_6978.jpg" alt="University of California, Merced" caption="University of California, Merced" />

## 租屋
我當初沒有申請到 on-campus 的 domitory 比較可惜，和同學接觸的機會會比較少，不過住外面的好處是比較便宜很多。我在外面租屋是 725 usd 一個月，雖然是和其他人同住且衛浴共用，但有自己的房間所以還算可以。另外一開始在網路上找房子的話，應該會看到 Merced Station，不過它比較貴，如果願意多花一些時間找，其實住外面會更好。

校外租屋的話學校有給一個網站，上面的房子都是比較安全而且開放給學生租的，我的房子也是在上面找的。如果沒有車，建議找離公車站或校車站近的地點，不然通勤真的會很辛苦，買東西也不方面。**腳踏車不是一個好選擇**，因為距離真的很遠。找好房子後就是和房東溝通，應該只需要給護照就好，然後線上簽合約，交 security deposity（通常會相當於兩個月的房租）。

## 手機號碼 & 銀行
網路我一開始是用 Mint Mobile 因為前三個月 15 usd 就能吃到飽，後來優惠結束後就改用 Tello，一個月 15 usd 有 10GB 流量．整體而言我覺得兩家的網速和覆蓋率都差不多，沒什麼大問題。美國大城市之外的網路本來就不是很好，所以沒有滿格很正常。

手機號碼在一開始辦網路時就可以選，建議是要有一個美國號碼，因為美國這裡很多服務都需要。之後要換電信公司只要填一些資料也可以同個號碼直接轉。

美國大多數的地方都可以用信用卡，所以現金其實不需要帶太多。如果是用台灣的信用卡**記得要提前申辦 OTP 改 email 驗證**，因為這裡收不到台灣手機號的簡訊（我看網路上有一些方法，反正我是沒成功）。我一開始根本沒想到這件事，而且很多信用卡都不支援線上改驗證方式，好險國泰 cube 可以打電話過去改，不然我第一個月什麼卡都刷不了。

**強烈建議辦一個美國的銀行帳號**，我自己是辦 BofA 的，Merced 有一間分行可以直接在那邊辦，之後請家裡電匯過來這裡的帳戶就可以刷 debit card 了（也可以辦信用卡，我沒有辦）。有美國銀行帳號的好處是可以用 Zelle，可以用電話號碼來轉帳，而且零手續費，這樣朋友之間轉帳或是交房租都會方便很多（我一開始只能用 paypal 交房租，手續費超貴）。

## 食物
校內有兩個學生餐廳，環境相當衛生 (活大根本慘不忍睹)，東西雖然不能說特好吃，但也是中規中矩。都是自助餐形式，平常會有美式 (披薩漢堡薯條）、印度菜 (咖哩)、墨西哥菜 (burrito, tortilla, beans 等)、極少數時間會有中式 (美式中餐)。另外還有早餐麥片、沙拉、水果、咖啡、蛋糕甜甜圈等，基本上該有的都有。

<ImageWrap src="/blog-attachments/IMG_6993.jpg" alt="學生餐廳食物" caption="學生餐廳食物" />

雖然我還是吃不太習慣，但校內選項只有這個所以只能吃。如果是住 on-campus 的話餐都是免費的，**如果是 off-campus 的話可以上學校網站買 meals plan**，25 餐是 250 usd，我整個學期大概用了 50 次。

除了吃學生餐廳，我大部分都是自己煮，每個禮拜去超市買。有一些亞洲食物（像是台灣米等）買不到可以上 Weee! 或 Amazon 看，不過有一些東西會因為 Merced 比較偏好像不給送。基本上來說我是炒飯、蕃茄義大利麵、咖哩飯在輪換，因為這些最便宜好做，偶爾會做一些特別的像是麻婆豆腐、乾燒蝦仁等。這應該是我廚藝進步最快的一段時間。

假日偶爾會出去吃，主要還是太貴了，這邊做一個簡單的連鎖快餐店評比，快餐店最大的好處是便宜而且不用給小費，基本上一個套餐都在 15 usd 上下：
- Chipolte: 美式墨西哥快餐，我特別喜歡他們的 bowl + steak + hot salsa，超好吃，但每次吃完都會烙賽清腸子
- Shake Shack: 漢堡是我覺得吃過(速食餐廳)最好吃的，但其他都還好，然後我討厭奶昔
- McDonald's: 跟台灣差不多，缺點是沒玉米濃湯
- Popeye's: 個人感覺還好，辣味炸雞其實也沒什麼辣
- In-n-Out: 個人感覺過譽，漢堡還可以，但薯條超乾不喜歡
- PandaExpress: 其實還不錯，真的想念中餐可以吃
- Subway: 跟台灣差不多，但選擇多很多

還有一些小心得
- 所有東西都很大份，買了可能一整週都要吃這個
- 美國這邊的牛奶感覺很容易酸，如果一週內喝不完就不要買太大瓶的
- 草莓雖然很便宜但是偏硬偏酸
- 冷凍花椰菜建議買 un-cutted，不要買 cutted，會有很硬的莖出現
- 白飯電鍋建議帶，個人認為半年不吃米還是挺難受
- 台灣泡麵建議多帶，這裡的泡麵除了辣雞麵都不怎麼好吃，維力倒是可以上 Weee! 買

## 整體感想
能有這樣交換半年的機會真的非常幸運，尤其是家裡經濟的支持，畢竟在美國生活半年是一筆不小的花費。我自己覺得我算是蠻省的，半年下來花的總費用，包括簽證費用、不包括出去玩，大概是在三十萬台幣上下。

整體而言這次交換對我而言是非常有價值的。作為一個資工系學生，來美國讀書甚至工作應該是大部分人的理想，這次交換半年是一次很好的機會。至於結論是現階段我想去美國讀書的想法是大幅減少了，主要有幾點
- 大城市比較亂，尤其 downtown 怪人賊多，街上會有怪味(大麻或尿騷味)，公共交通設施也都偏舊
	- LA: 不愧為 GTA5 原型，亂
	- SF: 大部分區域還可以，建築好看
	- Seattle: 比上面兩個乾淨很多，也比較新的感覺
- 小城市很不方便
- 物價很貴
- 食物吃不習慣（這應該是最大原因，我還是比較喜歡亞洲飲食）

當然優點也是有，就軟體產業而言美國無疑是一個有更多機會的地方，有更多的資源、也能遇到更多來自世界各地的強者，同時我也比較喜歡這裡的氣候，但除此之外也就沒有特別吸引我的地方了。

最後還是要在這裡感謝家人的支持、兩校辦事處人員的協助、Merced 認識的朋友、以及一路上遇到的所有人。如果有人未來也要去 Merced 交換，都歡迎透過 email 聯繫我: poyuncheng.bob@gmail.com。